.header_container{
    width: 100vw;
    height: 8%;
    display: flex;
    align-items: center;
    position: relative;
}
.nav_content{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.coding{
    cursor: default ;
    margin-left: 25px;
    font-family: 'poppins';
    font-size: clamp(0.5em,1.3em,2em);
    color: var(--cor-terciaria);
}
.nav_items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_item{
    font-family: 'Poppins';
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: clamp(0.5em,1.5em,2em);
    font-weight: 600;
    margin-right: 25px;
    transition: ease-in-out 200ms;
}
.nav_item:hover{
    color: var(--cor-terciaria);
}
.userPosition{
    color: #7f00ff;
}

@media (max-width: 500px){
    .nav_items{
        display: none;
    }
}
